<br><br>

<h2>{{ participante._nombre }} Detalles</h2>
<br>
  <div><span>ID:   </span>{{ participante._id }}</div>
  <div>
    <span>Nombre:   </span>
     {{participante._nombre}}
    <br>
    <span>Edad:   </span>
      {{participante._edad}}
    <br>
    <span>Nacionalidad:   </span>
      {{participante._nacionalidad}}
    <br>
    <label
      >Nivel:
      <input [(ngModel)]="participante._nivel" placeholder="nivel" />
    </label>
    <br>
    <label>
      Modalidad:
      <input [(ngModel)]="participante._modalidad" placeholder="modalidad"/>
    </label>
    <br>
    <label
      >Nombre Caballo:
      <input [(ngModel)]="participante._nomCaballo" placeholder="nomCaballo" />
    </label>
    <br>
    <label
      >Raza:
      <input [(ngModel)]="participante._raza" placeholder="raza" />
    </label>
    <br>
    <label
      >Edad Caballo:
      <input [(ngModel)]="participante._edadCaballo" placeholder="edadCaballo" />
    </label>
    <br>
    <label
      >Caballo Estabulado:
      <input [(ngModel)]="participante._cabEstabulado" placeholder="cabEstabulado" type="checkbox"/>
    </label>
  </div>
  <br>
  <button (click)="goBack()">Atrás</button>
  <button (click)="save()">Save</button>
