<div class="nav2">
  <h1>{{ title }}</h1>
</div>
<nav id="menu">
  <ul>
    <li><a href="/dashboard">Inicio</a></li>
    <li><a routerLink="/niveles">Niveles</a></li>
    <li>
      <a routerLink="/participantes">Participantes</a>
      <ul>
        <li><a routerLink="/domadetail">Doma</a></li>
        <li><a routerLink="/saltodetail">Salto</a></li>
        <li><a routerLink="/crossdetail">Cross</a></li>
      </ul>
    </li>
    <li><a routerLink="/newNivel">Nuevo Nivel</a></li>
    <li>
      <a routerLink="/newParticipante">Nuevo Participante</a>
      <ul>
        <li><a routerLink="/doma">Doma</a></li>
        <li><a routerLink="/salto">Salto</a></li>
        <li><a routerLink="/cross">Cross</a></li>
      </ul>
    </li>
    <li>
      <a routerLink="/clasificacion">Clasificación</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
