<h2>{{ nivel._tipoNivel }} Detalles</h2>
<br>
  <div><span>ID:   </span>{{ nivel._id }}</div>
  <div>
    <span>Tipo Nivel:   </span>
      {{nivel._tipoNivel}}
    <br>
    <label
      >Aficionado:
      <input [(ngModel)]="nivel._edad" placeholder="aficionado" type="checkbox"/>
    </label>
    <br>
    <label
      >Edad Límite:
      <input [(ngModel)]="nivel._limiteEdad" placeholder="limiteEdad" type="number" />
    </label>
    <br>
    <label
      >Inscripción:
      <input [(ngModel)]="nivel._inscripcion" placeholder="inscripcion" type="number"/>
    </label>
    <br>
    <br>
  </div>
  <button (click)="goBack()">Atrás</button>
  <button (click)="save()">Save</button>
