<div class="container">
  <div class="row">
      <div class="col-lg-6 offset-lg-3">
          <div class="card text-center">
              <div class="card-body">
                  <h3>{{"Editar nivel"}}</h3>
                  <span *ngIf="submitted && editarNivel.invalid" class="badge badge-danger">Por favor, introduzca todos
                      los campos</span>
                  <form [formGroup]="editarNivel" (ngSubmit)="modificarNivel()">
                      <div class="row">
                          <input type="number" value ="nivel._id" formControlName="id" class="mt-2 form-control form-control-lg"
                              placeholder="ID">
                      </div>
                      <div class="row">
                          <input type="text" formControlName="tipoNivel" class="form-control form-control-lg mt-3"
                              placeholder="Tipo Nivel">
                      </div>
                      <br>
                      <div class="row">
                          <p>Aficionado <input type="checkbox" formControlName="aficionado">
                          </p>
                      </div>
                      <div class="row">
                          <div class="col"><input type="number" formControlName="limiteEdad"
                                  class="form-control form-control-lg mt-3" placeholder="Edad Límite"></div>
                      </div>
                      <div class="row">
                          <div class="col"><input type="number" formControlName="inscripcion"
                                  class="form-control form-control-lg mt-3" placeholder="Inscripción"></div>
                      </div>
                      <div class="mt-3">

                          <button type="submit" class="btn btn-dark btn-lg">Editar</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>